<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.sm.repository.ContractRepository">

    <insert id="insert" parameterType="Contract">
        INSERT INTO contract (contract_status, cw_id, user_id, senior_id)
        VALUES (#{contractStatus}, #{cwId}, #{userId}, #{seniorId});
    </insert>

    <!-- 보호사의 전체 계약 조회 -->
    <select id="findAllByCareworkerId" resultType="Contract">
        SELECT *
        FROM contract
        WHERE cw_id = #{cwId}
    </select>

    <!-- 상태별 보호사 계약 조회 -->
    <select id="findByCareworkerIdAndStatus" resultType="Contract">
        SELECT *
        FROM contract
        WHERE cw_id = #{cwId}
          AND contract_status = #{status}
    </select>

    <select id="selectOne" resultType="Contract">
        SELECT *
        FROM contract
        WHERE contract_id = #{contractId}
    </select>

    <update id="update" parameterType="Contract">
        UPDATE contract
        SET
            contract_start_date = #{contractStartDate},
            contract_end_date = #{contractEndDate},
            contract_price = #{contractPrice},
            contract_status = #{contractStatus}
        WHERE contract_id = #{contractId}
    </update>
</mapper>