<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.sm.repository.WorkLogRepository">

    <insert id="insert" parameterType="WorkLog">
        INSERT INTO worklog (worklog_content, visit_start_time, visit_end_time, cw_id, senior_id)
        VALUES (#{workLogContent}, #{visitStartTime}, #{visitEndTime}, #{cwId}, #{seniorId});
    </insert>

</mapper>